<!DOCTYPE HTML>
<html>
<head><% include("/views/include/head.html",{title:'房产信息管理'}){} %>
</head>
<body>
	<% include("/views/layouts/navbar.html",{title:'房产信息管理'}){} %>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<% include("/views/modules/house/leftnavbar.html",{title:'大楼'}){} %>
			</div>
			<div class="col-sm-9">
				<ul class="nav nav-tabs">
				<%if(shiro.hasPermission("house:building:view")){%>
					<li class="active"><a href="/house/building">大楼列表</a></li>
				<%}%>
				<%if(shiro.hasPermission("house:building:edit")){%>
					<li><a href="/house/building/form">大楼添加</a></li>
				<%}%>
				</ul>

				<div class="table-responsive table-padding-top">
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<th>记录管理区</th>
							<th>用户</th>
							<th>名称</th>
							<th>地址</th>
							<th>备注</th>
							<th>操作</th>
						</tr>
						<%
						for(building in page.records!){
						%>
						<tr>
							<td>${building.recordManagementArea.name!}</td>
							<td><a href="/user/userInf/form?id=${building.userInf.id!}">${building.userInf.name!}</a></td>
							<td>${building.name!}</td>
							<td>${building.address!}</td>
							<td>${building.remarks!}</td>
							<td> 
							<%if(shiro.hasPermission("house:building:edit")){%>
							<a href="/house/building/form?id=${building.id}">修改</a> 
							<%}%>
							<%if(shiro.hasPermission("house:building:delete")){%>
							<a href="javascript:void(0);"
								onclick="del('/house/building/delete?id=${building.id}',1);">删除</a>
							<%}%>
							</td>

						</tr>
						<%
						}
						%>
						
					</table>
				</div>
			</div>
		</div>
	</div>

	<% include("/views/include/jslibs.html"){} %>
</body>
</html>