<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wya1.iproperty.mapper.PermissionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wya1.iproperty.entity.Permissions">
    <result column="id" property="id" />
    <result column="gmt_create" property="gmtCreate" />
    <result column="gmt_modified" property="gmtModified" />
    <result column="is_deleted" property="isDeleted" />
        <result column="permission" property="permission" />
        <result column="description" property="description" />
        <result column="remarks" property="remarks" />
        <result column="available" property="available" />
    </resultMap>

</mapper>
