<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate"></meta>
<meta http-equiv="Pragma" content="no-cache"></meta>
<meta http-equiv="Expires" content="0"></meta>
<meta content="width=device-width, initial-scale=1, user-scalable=1"
	name="viewport"></meta>
<meta content="${title!} - wya1" name="description"></meta>
<meta content="wya1, http://wya1.com" name="author"></meta>
<!-- <link rel="icon" type="image/x-icon" href="/static/wya1/images/favicon.ico"> -->
<title>${title!}_wya1</title>

<link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	rel="stylesheet" />
	<!-- <link href="https://cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="/static/wya1/css/comment.css" rel="stylesheet" />
<link href="/static/treeTable/themes/default/treeTable.css" rel="stylesheet" type="text/css" />
<link href="/static/treeTable/themes/vsStyle/treeTable.css" rel="stylesheet" type="text/css" />
<link href="/static/jquery-ztree/3.5.12/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/jquery-select2/3.4/select2.min.css" rel="stylesheet" type="text/css"/>
<!-- <link href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"
	rel="stylesheet" /> -->