<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/static/cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/static/treeTable/jquery.treeTable.min.js"></script>
<script src="/static/jquery-ztree/3.5.12/js/jquery.ztree.all-3.5.min.js"></script>
<script src="/static/jquery-select2/3.4/select2.min.js"></script>
<script src="/static/wya1/js/comment.js"></script>
<script src="/static/My97DatePicker/WdatePicker.js"></script>
<script src="/static/ckeditor/ckeditor.js"></script>