<!DOCTYPE HTML>
<html>
<head><% include("/views/include/head.html"){} %>
</head>
<body>
	<% include("/views/layouts/navbar.html",{title:'权限管理'}){} %>
	<div class="container">

		<div class="row row-offcanvas row-offcanvas-left">
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
				<div class="list-group">
					<a href="#" class="list-group-item active">角色管理</a>
					<a href="#" class="list-group-item">权限管理</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9">
				角色管理 权限管理角色管理 权限管理角色管理 权ss限管理角色管理 权限管理角色管理 权限管理角色管理 权限管理角色管理
				权限管理角色管理 权限管理角色管理 权限管理角色管理 权限管理角色管理 权限管理角色管理 权限管理角色管理 权限管理角色管理
				权限管理角色管理 权限管理角色管理 权限管理
				<button type="button" class="btn btn-primary btn-xs"
					data-toggle="offcanvas">Toggle nav</button>
			</div>
		</div>



	</div>
	<% include("/views/include/jslibs.html"){} %>
</body>
</html>